body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 100vh;
  background-image: url(../images/cropped-galaxy-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

button {
  height: 65px;
  width: 190px;
  font-size: 24px;
  border-radius: 18px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: transparent;
}
